name: Chromatic
on:
  push:
    branches: ["*"]
  workflow_run:
    workflows: ["Dependabot PR Check"]
    types:
      - completed

jobs:
  chromatic:
    name: Build storybook and publish to chromatic
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' || (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success') }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Cache node modules
        uses: actions/cache@v2
        id: cache
        env:
          cache-name: cache-node-modules-frontend-v2
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}

      - name: Cache npm cache
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/cache@v2
        env:
          cache-name: cache-npm-cache-frontend-v2
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-

      - name: Install frontend dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci --prefer-offline --no-audit
      - name: Build storybook and publish to chromatic
        uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
